{
	"image_name": "nc.exe",
	"outfile": "C:\\source\\pin-latest\\ia32\\bin\\obfusc.log",
	"hook_functions": true,
	"dont_log_calls": false,
	"dont_log_writes": false,
	"ignore_internal_calls": true,
	"code_start": 0x2B08C,
	"code_end": 0x43E78,
	"code_ignore": [0x2e333,0x2fde7,0x2f1cc,0x2ed19],
	"data_start": 0x2022C,
	"data_end": 0x43E78,
	"data_ignore": [0x2e330,0x3197a,0x2e068]
}